{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorVersion": "2022-03"
    }
  },
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": "node 18"
  },
  "sourceMaps": true
}
